<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" name="test">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZZ}{GMT+3}] %-5p [%t] [%X{traceId}] [%c{1}] %m%n%ex"/>
        </Console>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>