<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="warn" name="test">

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{yyyy-MM-dd'T'HH:mm:ss.SSSZZZ}] %-5p [%t] [%c{1}] %m%n%ex"/>
        </Console>
        <File name="TaskListenerLogFile" fileName="target/task-listener.log" append="true">
            <PatternLayout>
                <Pattern>%-5p [%c{1}] %m%n%ex</Pattern>
            </PatternLayout>
        </File>
        <File name="ThreadListenerLogFile" fileName="target/thread-listener.log" append="true">
            <PatternLayout>
                <Pattern>%-5p [%c{1}] %m%n%ex</Pattern>
            </PatternLayout>
        </File>
        <File name="MonitoringQueueProducerLogFile" fileName="target/monitoring-queue-producer.log" append="true">
            <PatternLayout>
                <Pattern>%-5p [%c{1}] %m%n%ex</Pattern>
            </PatternLayout>
        </File>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
        <logger name="ru.yoomoney.tech.dbqueue.config.impl.LoggingTaskLifecycleListener" level="DEBUG">
            <AppenderRef ref="TaskListenerLogFile"/>
        </logger>
        <logger name="ru.yoomoney.tech.dbqueue.config.impl.LoggingThreadLifecycleListener" level="DEBUG">
            <AppenderRef ref="ThreadListenerLogFile"/>
        </logger>
        <logger name="ru.yoomoney.tech.dbqueue.api.impl.MonitoringQueueProducer" level="DEBUG">
            <AppenderRef ref="MonitoringQueueProducerLogFile"/>
        </logger>
    </Loggers>
</Configuration>